<div class="flex flex-col gap-2 p-4 rounded-lg">
  <div class="flex gap-2 items-center mb-2">
    <mat-icon>drag_indicator</mat-icon>
    Widgets
  </div>
  @for (widget of store.widgetsToAdd(); track widget.id) {
  <div
    cdkDrag
    class="text-sm text-center rounded-2xl bg-surface-container text-inverse-surface cursor-move px-4 py-2 hover:bg-surface-container-high mat-elevation-z2"
    [cdkDragData]="widget.id"
  >
    <p>
      <strong>{{ widget.visualizationType | uppercase }}</strong>
    </p>
    {{ widget.label }}
    <div *cdkDragPlaceholder></div>
  </div>
  } @empty { Drag widgets here to remove }
</div>
